<!DOCTYPE html>
<html>
<head>
    <title>Spoken Digit Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>🎤 Spoken Digit Recognition</h1>

    <div class="card">

        <h2>Upload Audio</h2>
        <input type="file" id="audioFile">
        <button onclick="upload()">Predict</button>

        <hr>

        <h2>Record Live</h2>

        <div id="micIndicator">🎤</div>

        <button onclick="startRecording()">🎙 Start</button>
        <button onclick="stopRecording()">⏹ Stop</button>

        <p id="status"></p>

        <!-- Audio playback -->
        <audio id="audioPlayback" controls style="display:none;"></audio>

        <h2 id="result">Result: --</h2>

    </div>

</div>

<script>
function upload() {
    let fileInput = document.getElementById("audioFile");

    let formData = new FormData();
    formData.append("file", fileInput.files[0]);

    fetch("/predict", {
        method: "POST",
        body: formData
    })
    .then(res => res.json())
    .then(data => {
        document.getElementById("result").innerText =
            "Predicted Digit: " + data.predicted_digit;
    });
}

// =======================
// Recording
// =======================
let recorder, audioChunks = [];

async function startRecording() {
    document.getElementById("status").innerText = "Recording...";
    document.getElementById("micIndicator").style.color = "red";

    let stream = await navigator.mediaDevices.getUserMedia({ audio: {
        sampleRate: 8000,
        channelCount: 1,
        noiseSuppression: true,
        echoCancellation: true
    } });

    recorder = new MediaRecorder(stream);

    recorder.ondataavailable = e => audioChunks.push(e.data);

    recorder.start();
}

function stopRecording() {
    recorder.stop();

    document.getElementById("status").innerText = "Processing...";
    document.getElementById("micIndicator").style.color = "white";

    recorder.onstop = () => {
        let blob = new Blob(audioChunks, { type: 'audio/wav' });

        // Playback
        let audioURL = URL.createObjectURL(blob);
        let player = document.getElementById("audioPlayback");
        player.src = audioURL;
        player.style.display = "block";

        let formData = new FormData();
        formData.append("file", blob, "recording.wav");

        fetch("/predict", {
            method: "POST",
            body: formData
        })
        .then(res => res.json())
        .then(data => {
            document.getElementById("result").innerText =
                "Predicted Digit: " + data.predicted_digit;
            document.getElementById("status").innerText = "";
        });

        audioChunks = [];
    };
}
</script>

</body>
</html>